.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.typewriter {
  text-align: center; /* Center the text */
}

.typewriter h1 {
  display: inline-block; /* Use inline-block for centered text */
  overflow: hidden;
  border-right: .15em solid lightgray; /* Updated cursor color */
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
  letter-spacing: .15em;
  font-family: Consolas, monospace; /* Using Consolas font */
  font-weight: 500;
  font-size: 1.5em; /* Adjust font size for readability */
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  white-space: pre-wrap; /* Wrap text and preserve formatting */
  word-break: break-word; /* Allow words to break and wrap */
}

/* Typewriter typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: lightgray; }
}
