@font-face {
  font-family: 'Consolas';
  src: url('./fonts/consolas/Consolas.ttf') format('truetype');
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

.huorotics-logo {
  width: 72vw;
  height: auto;
  margin-bottom: 2vh;
  align-items: center;
  justify-content: center;
}

.huorotics-logo img {
  width: 100%;
  height: auto;
}

.ces-logo {
  width: 24vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  
}

.ces-logo img {
  width: 100%;
  height: auto;
}

.ces-logo text {
  font-family: 'Poppins', Courier, monospace;
  font-size: 24px;
  font-weight: normal;
  color: rgb(67, 67, 67);
  margin-right: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/* Add this to your existing CSS */
.home-start-button {
  margin-top: 2vh;
  opacity: 0; /* Start with the button invisible */
  transform: translateY(72px); /* Start position off-screen */
}

.box {
  position: absolute;
  z-index: 1;
  top: calc(50vh - 80vh);
  width: 160vh;
  height: 160vh;
  background-color: black;
}

.marquee {
  position: absolute;
  display: flex;
  width: 100%;
  height: 20px;
  background-color: black;
  overflow: hidden;
  user-select: none;
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: space-around;
  font-family: 'Consolas', monospace;
  font-size: 16px;
  color: white;
  min-width: 100%;
  /* gap: 1rem; */
  animation: marquee 300s linear infinite;
}

.marquee-top {
  top: 0px;
}

.marquee-bottom {
  bottom: 0px;
}

.marquee-reverse {
  animation-direction: reverse;
}

@keyframes marquee {
  from { transform: translateX(0%); }
  to { transform: translateX(calc(-50%)); }
}
