@font-face {
  font-family: 'Consolas';
  src: url('./fonts/consolas/Consolas.ttf') format('truetype');
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

.typewriter {
  text-align: center;
}

.typewriter h1 {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid lightgray;
  white-space: nowrap;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
  letter-spacing: .15em;
  font-family: Consolas, monospace;
  font-weight: 500;
  animation: typing 3.5s steps(60, end), blink-caret .75s step-end infinite;
}

/* Typewriter typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: rgb(142, 142, 142); }
}

.home-company-logo {
  margin-top: 16%;
}

/* Add this to your existing CSS */
.home-start-button {
  opacity: 0; /* Start with the button invisible */
  transform: translateY(72px); /* Start position off-screen */
  -webkit-animation: slideUp 1s cubic-bezier(0.075, 0.88, 0.42, 1) forwards;
  animation: slideUp 1s cubic-bezier(0.075, 0.88, 0.42, 1) forwards;
  animation-delay: 3.5s; /* Wait 3.5 seconds before animating */
}

/* Keyframes for the slide-up animation */
@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}