@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: medium;
}

/* @font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: semi-bold;
} */

body {
  overflow: hidden;
}

.record {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* overflow: hidden; */
  background-color: white;
}

.record-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.preview-container {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
  /* height: 100vh; */
  height: 100vh;
}

.canvas {
  margin-bottom: 20px;
  width: 90%;
  max-width: 600px;
  border-radius: 20px;
  background-color: #474747;
}

video.preview {
  width: 90%;
  max-width: 600px;
  border-radius: 20px;
  transform: scaleX(-1);
  /* box-shadow: 8px 8px 15px #a7aab1, -8px -8px 15px #ffffff; */
}

video.streamer {
  /* display: none; */
  margin-bottom: 20px;
  width: 90%;
  max-width: 600px;
  border-radius: 20px;
  transform: scaleX(-1);
  /* box-shadow: 8px 8px 15px #a7aab1, -8px -8px 15px #ffffff; */
}

button {
  background-color: white;
  color: gray;
  width: 180px;
  height: 60px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 4px 4px 12px rgba(167, 170, 177, 0.4),
    /* Adjust transparency here */
    -4px -4px 12px rgba(255, 255, 255, 0.8);
  /* Adjust transparency here */
  font-weight: normal;
  font-family: 'Poppins', Courier, monospace;
  font-size: 16px;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 0.6;
}

.project-title {
  margin-bottom: 20px;
}

.project-title h1 {
  font-family: 'Poppins', Courier, monospace;
  font-size: 4vw;
  font-weight: normal;
  color: rgb(61, 61, 61);
}

.video-container {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.streamer-recording {
  -webkit-animation: streamer-pulse 2.8s infinite cubic-bezier(0.075, 0.2, 0.165, 1);
  /* Add other vendor prefixes if needed */
  animation: streamer-pulse 2.8s infinite cubic-bezier(0.075, 0.2, 0.165, 1);
}

@-webkit-keyframes streamer-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.2);
  }

  50% {
    box-shadow: 0 0 12px 16px rgba(255, 0, 0, 0.1);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

@keyframes streamer-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.2);
  }

  50% {
    box-shadow: 0 0 12px 16px rgba(255, 0, 0, 0.1);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-button {
  margin-top: 20px;
  margin-bottom: 20px;
}


@-webkit-keyframes button-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.2);
    transform: scale(1);
  }

  50% {
    box-shadow: 0 0 12px 8px rgba(255, 0, 0, 0.1);
    transform: scale(1.02);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    transform: scale(1);
  }
}

@keyframes button-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.2);
    transform: scale(1);
  }

  50% {
    box-shadow: 0 0 12px 8px rgba(255, 0, 0, 0.1);
    transform: scale(1.02);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    transform: scale(1);
  }
}

.start-button-recording {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 0, 0, 0.65);
  -webkit-animation: button-pulse 2.8s infinite cubic-bezier(0.075, 0.2, 0.165, 1);
  animation: button-pulse 2.8s infinite cubic-bezier(0.075, 0.2, 0.165, 1);
}

.start-button-recording:hover {
  background-color: rgba(255, 0, 0, 0.7);
  /* Example: slightly darker red on hover */
  color: rgba(255, 255, 255, 0.8);
  /* Example: slightly transparent white color */
}

.preview-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 6vh;
}

.retry-button {
  width: 140px;
  height: 40px;
  font-size: 16px;
  margin-right: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: rgb(162, 162, 162);
}

.retry-button:hover {
  background-color: rgba(196, 196, 196, 0.6);
}

.next-button {
  width: 140px;
  height: 40px;
  /* border-radius: 30px; */
  font-size: 16px;
  margin-left: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: rgb(173, 214, 255);
  -webkit-animation: next-button-pulse 2.8s infinite cubic-bezier(0.075, 0.2, 0.165, 1);
  animation: next-button-pulse 2.8s infinite cubic-bezier(0.075, 0.2, 0.165, 1);
}

@keyframes next-button-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(211, 230, 249, 0.8);
    transform: scale(1);
  }

  50% {
    box-shadow: 0 0 16px 12px rgba(211, 230, 249, 0.4);
    transform: scale(1.02);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    transform: scale(1);
  }
}

.company-logo-container {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* bottom: 32px; */
  margin-top: 32px;
}

.company-logo {
  width: 40px;
}