body {
  overflow: hidden;
}

.record {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

video.streamer {
  margin-bottom: 20px;
  width: 90%;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 8px 8px 15px #a7aab1, -8px -8px 15px #ffffff;
}

button {
  background-color: white;
  color: gray;
  width: 180px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 4px 4px 12px rgba(167, 170, 177, 0.4), /* Adjust transparency here */
             -4px -4px 12px rgba(255, 255, 255, 0.8); /* Adjust transparency here */
  font-weight: semi-bold;
  font-family: 'Poppins', Courier, monospace;
  font-size: 16px;
}

button:hover {
  background-color: #f1f1f1;

}

button:focus {
  outline: none;
}

.header {
  font-family: 'Poppins', Courier, monospace;
  font-size: 30px;
  font-weight: semi-bold;
  color: rgb(61, 61, 61);
  margin-bottom: 40px;
}

.video-container {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.streamer-recording {
  -webkit-animation: streamer-pulse 2.8s infinite cubic-bezier(0.075, 0.2, 0.165, 1);
  /* Add other vendor prefixes if needed */
  animation: streamer-pulse 2.8s infinite cubic-bezier(0.075, 0.2, 0.165, 1);
}

@-webkit-keyframes streamer-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 12px 16px rgba(255, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

@keyframes streamer-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.2);
  }

  50% {
    box-shadow: 0 0 12px 16px rgba(255, 0, 0, 0.1);
  }
  
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

@-webkit-keyframes button-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.2);
    transform: scale(1);
  }

  50% {
    box-shadow: 0 0 12px 8px rgba(255, 0, 0, 0.1);
    transform: scale(1.02);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    transform: scale(1);
  }
} 

@keyframes button-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.2);
    transform: scale(1);
  }

  50% {
    box-shadow: 0 0 12px 8px rgba(255, 0, 0, 0.1);
    transform: scale(1.02);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    transform: scale(1);
  }
}

.start-button-recording {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 0, 0, 0.65);
  -webkit-animation: button-pulse 2.8s infinite cubic-bezier(0.075, 0.2, 0.165, 1);
  animation: button-pulse 2.8s infinite cubic-bezier(0.075, 0.2, 0.165, 1);
}

.start-button-recording:hover {
  background-color: rgba(255, 0, 0, 0.7); /* Example: slightly darker red on hover */
  color: rgba(255, 255, 255, 0.8); /* Example: slightly transparent white color */
}

/* .streamer-recording, .start-button-recording {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  will-change: transform, box-shadow;
} */

.next-button {
  position: absolute;
  right: 4%;
  /* padding: 10px 10px; */
  width: 60px;
  height: 60px;
  /* margin-left: 10%; */
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-icon {
  width: 40px;
  height: 40px;
}

.company-logo-container {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* bottom: 32px; */
  margin-top: 32px;
}

.company-logo {
  width: 40px;
}