@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: medium;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  overflow: visible;
}

.results-header {
  margin-top: 2vh;
  margin-bottom: 0.5vh;
  align-items: center;
}

.results-header h1 {
  font-family: 'Poppins', Courier, monospace;
  font-size: 24px;
  font-weight: normal;
}

.results-slider {
  width: 90vw;
  /* height: 80vh; */
  border-radius: 20px;
  padding: 0 4vw;
  padding-bottom: 6vh;
  margin: auto;
  box-sizing: border-box;
  background-color: #f3f3f3;
}

.results-slider h2 {
  text-align: center;
  font-family: 'Poppins', Courier, monospace;
  font-size: 20px;
  font-weight: normal;
  color: rgb(67, 67, 67);
}

/* .results-slider-item {
} */

.results-slider-item h3 {
  text-align: center;
  height: 60vh;
  margin-bottom: 60px;
  font-family: 'Poppins', Courier, monospace;
  font-size: 16px;
  font-weight: normal;
  color: rgb(67, 67, 67);
}

.slick-slide > div {
  display: grid;
  width: 60%;
  margin: auto;
  height: 70vh;
}

video.result {
  align-self: center;
  margin-right: auto;
  border-radius: 20px;
  width: 100%;
  margin: auto;
}

.results-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate; /* Adjusted for neumorphism */
  border-spacing: 0 10px; /* Spacing between rows */
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 20px;
  background-color: #E0F7FA; /* Light sky blue background */
  font-family: 'Poppins', Courier, monospace;
  font-size: 2vw;
  box-shadow: 4px 4px 8px rgba(167, 196, 188, 0.4), /* Darker shadow */
             -4px -4px 8px #ffffff; /* Lighter shadow */
}

.results-table td {
  background-color: #E0F7FA; /* Light sky blue for cells */
  padding: 0 2vw; /* Padding for content */
  border-radius: 10px; /* Rounded corners */
  /* border-bottom: 1px solid #36464e; */
}

.results-table tr {
  border-bottom: 1px solid #36464e; /* Dark gray border */
}

.results-table .message-column {
  text-align: left;
  word-wrap: break-word; /* Ensures text wraps and doesn't overflow */
}

.results-table .score-column {
  text-align: right;
  word-wrap: break-word;
}

/* .slick-prev,
.slick-next {
  opacity: 0.75;
  background-color: white;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
} */

.slick-prev {
  left: -45px; /* Position from the left */
}

/* Specific style for the next button */
.slick-next {
  right: -45px; /* Position from the right */
}

.try-again-button {
  width: 140px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}